@font-face{
    font-family: clock;
    src: url('/font/technology.bold.ttf');
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(49, 49, 49);
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    background-color: rgb(4, 5, 31);
    padding: 23px;
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

#screen {
    background-color: rgb(0, 0, 86);
    width: 100%;
    height: 100px;
    margin: 10px 0 30px 0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    font-family: "clock";
    font-size: 40px;
}

#screen > h3 {
    margin: 0;
    margin-right: 10px;
    padding: 0;
    color: rgba(0, 179, 0, 0.815)
}

#clearBtns {
    width: 100%;
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

#clearBtns > button {
    width: calc(100%/2);
    height: 50px;
    color: rgb(218, 218, 218);
    background-color: rgb(67, 67, 67);
    border: 2px solid gray;
    border-radius: 7px;
    font-size: 25px;
}

#keyContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 7px;
    flex-grow: 1;
}

#keyContainer > button {
    width: calc((100%/5));
    flex-grow: 1;
    color: rgb(218, 218, 218);
    background-color: rgb(67, 67, 67);
    border: 2px solid gray;
    border-radius: 7px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}